*{
    margin: 0px;
    padding:0px;
}

.hero{
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Poppins', sans-serif;
}

.hero a {
    text-decoration: none;
    color: #FEFAE6;
}

.hero a:hover {
    text-decoration: underline;
}

.hamburger {
    position: sticky;
    margin-top: 5vh;
    margin-right: 5vh;
}
.hamburger-line {
    display: block;
    min-width: 30px;
    min-height: 1px;
    border-radius: 5px;
    background-color: #FEFAE6;
    padding: 2px;
    margin: 5px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #FEFAE6;
    font-size: 51px;
    font-family: 'Special Elite', cursive;
}
.radda-bina-logo-mobile{
    width: 250px;
    margin-bottom: 25vh;

}
.radda-bina-logo{
    width: 200px;
    margin-left:5vw;
}
.kom-igang {
    background-color: #F1C912;
    border-radius: 2rem;
    padding: 1rem;
    border: none;
    width: 40vw;
}

.mobile-menu-open {
    height: 100vh;
    width: 100vw;
    background-color: #F1C912;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}
.mobile-menu-cross{
    margin-left: 75vw;
    margin-bottom: 10vh;
}
.mobile-menu-item{
    margin: 30px;
    margin-bottom: 8vh;
}

.mobile-menu-logo{
    width: 150px;
    padding: 0;
    margin: 0;
}

.menu-large {
    font-size: 20px;
    margin-top: 50px;
    margin-right: 10vw;
    margin-left: 5vw;
    display: flex;
    gap: 8vw;
}

.menu-item {
    padding: 10px;
}

.footer{
    background-color: #F1C912;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10vh 5vw;
}
.some-icons{
    margin-right: 240px;
    margin-bottom: 5vh;
}
.footer h4 {
    font-size: 34px;
    padding: 2vh;
}

.news-letter-input {
    min-width: 260px;
    min-height: 45px;
    border: none;
    border-radius: 40px;
    padding: 1vh;
}

.news-letter-input-container {
    position: relative;
    left: 3vw;
}
.footer ::placeholder {
    color: #000000;
    font-size: 1.3rem;
    text-align: center;
}
.news-letter-signup button {
    position: relative;
    border-radius: 20vh;
    height: 48px;
    width: 50px;
    left: -59px;
    bottom: -4px;
    border: none;
    background-color: #F1C912;
}
.footer-logo {
    width: 33vh;
    margin: 8vh 8vh 4vh 8vh;
}

.footer-logo-large {
    display: none;

} 
/* WHY SECTION */

.why {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FEFAE6;
}

.why-box {
    padding: 50px;
}

.why-h2 {
    font-family: 'Special Elite', cursive;
    text-align: center;
    margin-top: 6vh;
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 1vh;
}

.why-img {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
}

.why-h3 {
    font-family: 'Special Elite', cursive;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 2vh;
}

.why-p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

/* VIDEO SECTION */

.video-section {
    background-color: #F0EEE2;
    padding: 20px;
}

.video-img {
    width: 30vh;
    display: block;
    margin: 3vh auto;
}

.video {
    visibility: hidden;
    display: none;
}

.video-h3 {
    font-family: 'Special Elite', cursive;
    width: 30vh;
    margin: 6vh auto 2vh auto;
    font-size: 32px;
    font-weight: 400;   
}

.video-p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    width: 30vh;
    margin: auto;    
}

/* DID YOU KNOW SECTION */

.did-you-know {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    padding: 2vw 5vw;
    background-color: #FEFAE6;
}

.did-you-know-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.did-you-know-card {
    padding: 20px;
    /* padding-left: 5vw; */
}
.did-you-know-image {
    width: 300px;
    padding-bottom: 10px;
}
.did-you-know-heading{
font-size: 52px;
text-align: center;
padding: 3vw;
}
.did-you-know-card-heading{
font-size: 26px;
}

.did-you-know-text{
font-size: 18px;
}
/* COOKIE SECTION */

.cookie-banner {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    position: absolute;
    top: 75vh;
    background-color: white;
    min-width: 100%;
}

.cross{
margin-left: 70vw;
}
.cookie-heading {
    font-size: 18px;
}
.cookie-copy {
    padding: 3vh;
}


@media screen and (max-width: 600px) {
    .hero {
      background-image: url('img/mobile/hero-mobile.png');
      background-position: center;
    }
    .header-large {
        display: none;
    }
    .header-mobile {
        display: flex;
        justify-content: right;
    }
    .bee-icons {
        display: none;
    }
    .app-icon {
        position: absolute;
        top: 86vh;
        right: 1vw;
        width: 15vh;
    }
    .footer-app-logo{
        display: none;
    }

    /* did you know section mobile */
    .did-you-know-grid {
        grid-template-columns: 1fr;
    }
    .did-you-know-card {
        padding-left: 20px;
    }

  }
/* TABLET */
@media screen and (min-width: 601px) {

    /* HERO-SECTION DESKTOP */
    .hero {
      background-image: url('img/tablet/hero-tablet.png');
      background-position: center;
      background-size: cover;
    }
    .hero-content{
        margin-top: 40vh;
    }
    .header-large {
        width: 100vw;
        height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #FEFAE6;
        /*padding-left: 50px;
        padding-right: 10px;*/

    }
    .header-mobile {
        display: none;
        justify-content: right;
    }
    .radda-bina-logo-mobile{
        display: none;
    }
    h1 {
        margin-bottom: 10vh;
        margin-top: -15vh;
        font-size: 80px;
    }
    .kom-igang{
        font-size: 20px;
    }

    .hero button {
        max-width: 15rem;
    }
    .bee-icons {
        display: none;
    }
    .app-icon {
        position: absolute;
        top: 90vh;
        left: 88vw;
        width: 15vh;
        transform: translateX(-50%) translateY(-50%);
    }

    .footer-large{
        display: flex;
        width: 80vw;
        flex-direction: row;
        justify-content: space-around;
        order: 3;
    }
    .some-icons {
        order: 2;
    }
    .copyright {
        order: 4 ;
    }
    .footer-app-logo{
        display: block;
        width: 18vw;
        position: relative;
        top: -68px;
    }
    .news-letter-input{
        min-width: 320px;
    }
    .footer h4 {
        padding: 2vh 4vw;
    }
    .footer-logo {
        order: 1;
        padding: 0 ;
        margin: 2vh 0 8vh 0;
    }
    .some-icons{
        margin-right: 58vw;
    }
  
    /* did you know section tablet */
    .did-you-know-grid {
        grid-template-columns: 1fr 1fr;
    }

    /* WHY-SECTION TABLET */
    .why {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;

        padding: 0px 10px 40px 10px;
        background-image: url('img/desktop/honey.png');
        background-repeat: no-repeat;
        background-position-x: 28em;
        background-position-y: 32em;
        background-size: 700px;
    }

    .why-box {
        width: 45%;
        padding: 0px 10px;
    }

    .why-h2 {
        font-size: 75px;
        width: 100%;
    }

    .why-img {
        width: 60%;
    }

    .why-img-small {
        height: 41%;
    }

    .why-h3 {
        font-size: 48px;
    }

    .why-p {
        font-size: 18px;
    }

    /* VIDEO-SECTION TABLET */

    .video-img {
        visibility: hidden;
        display: none;
    }

    .video {
        visibility: visible;
        display: block;
        align-items: center;
        margin: 3vh auto;
    }

    .video-h3 {
        font-size: 48px;
        width: 70vh;
    }

    .video-p {
        width: 70vh;
    }

  }
  
  /* DESKTOP */
  @media screen and (min-width: 1100px) {
      /* HERO-SECTION DESKTOP */
    .hero-view-desktop{
        display:flex
    }
    .bee-icons {
        display: flex;
        flex-direction: column;
        width: 15vw;
        margin: 10vw 15vw 0 5vw;
    }

    .bee-icons div {
        position: relative;
    }

    .bee-icons p {
        color: #FEFAE6;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .app-icon {
        position: absolute;
        top: 80vh;
        left: 88vw;
        width: 15vh;
    }
    .footer-large {
            width: 90vw;
    }
    .some-icons{
        position: relative;
        left: -80px;
        margin-top: 10vh
    }
    .footer-logo{
        display:none;
    }
    .footer-logo-large {
        display: block;
        position: relative;
        top: -180px;
    }
    .news-letter-signup{
        order: 1;
    }
    .footer-logo-large {
        order: 2;
    }
    .footer-app-logo {
        order: 3;
    }
    /* did you know section desktop */
    .did-you-know-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    /* WHY-SECTION DESKTOP */
    .why {
        justify-content: space-around;
        align-content: flex-start;
        min-height: 1vh;
        max-height: fit-content;
        row-gap: 10vh;
        padding: 5vh 10vh;
        background-position-x: 90em;
        background-position-y: 1em;
        background-size: 700px;
    }

    .why-box {
        width: 23%;
        min-height: 50vh;
    }

    .why-h2 {
        margin-bottom: 5vh;
    }

    .why-img {
        width: 60%;
    }

  }
